<!DOCTYPE html5>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>금빛-식단표 안내</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/ex1.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
                crossorigin="anonymous">
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
</head>

<body>
	<div th:insert="~{fragments/header::header}"></div>
        <section id="page-content">
                <div class="container">
                        <div class="service-banner">
                                <img src="/service_banner/배너3.PNG">
                        </div>
                        <div class="siteMap-tap">
                                <div class="siteMap-title">프로그램</div>&nbsp;
                                <i class="fas fa-caret-right"></i>
                                <div class="siteMap-menu">
                                        <a href="/pgm/about">프로그램 안내</a>
                                        <a href="/pgm/schedule">일정표</a>
                                        <a href="/pgm/menu" class="siteMap-menu-active">식단표</a>
                                </div>
                                <div class="siteMap">
                                        <a href="/"><i class="fas fa-home"></i></a> <i class="fas fa-angle-right"></i>
                                        <a href="/pgm/about">프로그램</a> <i class="fas fa-angle-right"></i>
                                        <a href="/pgm/menu">식단표</a>
                                </div>
                        </div>  
                        
                </div>
                <div class="container">
                        <div id="section1" class="section">
                                <h2 class="section-h2">식단표</h2>
                                <div class="sub-section">
                                        <div class="section-side-layout">
                                               <div class="sub-title"><i class="fas fa-check"></i> 월간 식단표</div>
                                        </div>
                                        <div class="section-content-layout"> 
                                                <div class="content" th:object="${content}">
                                                	<div id="print_area">
                                                        <div class="board-view-head">
                                                                <div class="board-view-no">[[*{no}]]</div>
                                                                <div class="board-view-title">[[*{title}]]</div>
                                                                <div class="board-view-date">
                                                                        <i class="far fa-clock" style="padding:3px; font-size:11px; "></i>[[${#dates.format(content.date,'yyyy.MM.dd HH:mm')}]]
                                                                </div>
                                                        </div>
                                                        <div class="board-view-head-sub">
                                                        	<div class="board-view-head-sub-name">[[*{name}]]</div>
                                                        	<div class="board-view-count">
                                                        	<i class="far fa-eye" style="padding:3px; font-size:11px; "></i>[[*{count}]]
                                                        	</div>
                                                        </div>
                                                        <div class="board-view-body">
                                                                <div class="board-content">
																	<div th:utext=*{content}></div>
                                                                </div>
                                                        </div>
													</div>                                                        
                                                        <script th:inline="javascript">
                                                        	var bno = [[*{no}]];
                                                        	function fdUpdate() {
                                                        		window.open('/admin/food/update?bno='+bno,'_blank','width=810 height=780');
                                                        	}
                                                        	function fdDelete() {
                                                        		var YesNo = confirm("정말 삭제하시겠습니까?");
                                                        		if(YesNo == true){
                                                        			window.location.href="/admin/food/delete/"+bno;
                                                        		}else{
                                                        			return false;
                                                        		}
                                                        		
                                                        	}
                                                        </script>
                                                        <div class="board-view-printTab">
                                                        <button onclick="fdUpdate()">수정</button>
                                                        <button onclick="fdDelete()">삭제</button>
                                                        <button onclick="location.href='/pgm/menu'">목록</button>
                                                        <button class="print-btn-conetent float-right" onclick="pageprint()"><i class="fas fa-print print-icon"></i></button>
                                                        </div>
                                                        <div class="board-view-footer">
                                                                <div class="comment-form">
                                                                		<div class="comment-intro"><i class="fas fa-pencil-alt"></i> 댓글 작성</div>
                                                                        <div class="user-comment">
                                                                        <form class="comment-area-form" id="reply_form" th:action="@{'/menu/reply'}" method="post">
                                                                        <input type="hidden" name="bno" th:value="*{no}"/>
                                                                        <input type="hidden" id="csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                                                        <input type="hidden" name="replyer" th:attr="value=test"/>
                                                                                <textarea name="reply" id="reply_text" class="comment-textarea" placeholder="Comments..." rows="3" aria-hidden="true"></textarea>
                                                                                <button type="submit" class="comment-submit">등록</button>
                                                                        </form>
                                                                        </div>
                                                                </div>
                                                                <div class="comment-form" id="comment-list">
                                                                	<i class="far fa-comment comment-icon-size"> <span class="comment-word"> Comment </span><span class="comment-count">[[${replyCount}]]</span></i>
                                                                    <div th:each="rp:${reply}">
																	<div class="comment-view-area display-none">
																		<div class="comment-head">
																			<div class="comment-id">[[${rp.replyer}]]</div>
																			<div class="comment-date">[[${#dates.format(rp.date,'yyyy-MM-dd  HH:mm')}]]</div>
																			<div class="comment-delete"><a th:href="@{'/menu/reply/delete?rno='+${rp.rno}+'&bno='+${rp.bno}}"><i class="far fa-times-circle cmt-icon-color"></i></a></div>
																		</div>
																		<div class="comment-body"> 
																			<div class="comment-content" th:object=${rp}>
																			<p th:utext="*{reply}"></p>
																			</div>
																		</div>
																	</div>
																	</div>
																	<div class="align-center"><button id="more" class="more-btn">+ 더 보기</button>
																	</div>
                                                                </div>
                                                        </div>
                                                        <!-- 테이블 -->
                                                       <table class="board-table">
                                                                <thead>
                                                                        <tr>
                                                                                <th width="10%">번호</th>
                                                                                <th width="40%" class="tas">제목</th>
                                                                                <th width="20%">글쓴이</th>
                                                                                <th width="20%">날짜</th>
                                                                                <th width="10%">조회수</th>
                                                                        </tr>
                                                                </thead>
                                                                <tbody>
                                                                       <tr th:each="list:${list}">
                                                                                <td width="10%">[[${list.no}]]</td>
                                                                                <td width="40%" class="tas"><a th:href="@{'/pgm/menu/view?no=' + ${list.no} + '&page='+${pager.currentPageNum}}">[[${list.title}]]
                                                                                <span class="reply-count" th:if="${list.replycnt != 0 && list.replycnt > 0}" th:text="'['+${list.replycnt}+']'"></span></a></td>
                                                                                <td width="20%">[[${list.name}]]</td>
                                                                                <td width="20%">[[${#dates.format(list.date,'yyyy-MM-dd')}]]</td>
                                                                                <td width="10%">[[${list.count}]]</td>
                                                                        </tr>
                                                                </tbody>
                                                        </table>
                                                        <div class="table-footer">
                                                                <input type="text" id="searchKeyword" th:value="${pageVO.keyword}" class='search' placeholder="제목+내용">
                                                                <button id="searchBtn"><i class="fas fa-search border"></i></button>
                                                                <div class="pull-right">
                                                                <button class="btn-write" onclick="window.open('/admin/food','_blank','width=810 height=780')">글쓰기</button>
                                                        		</div>
                                                        </div>
                                                        <ul class="paging-ul">  
                                                                <li th:if="${pager.prevPage}">
                                                                <a th:href="${pager.prevPage.pageNumber}+1" class="paging-pre">이전</a>
                                                                </li>
                                                                <li th:each="p:${pager.pageList}">
                                                                <a th:classappend="${p.pageNumber==pager.currentPageNum -1}?active:''" th:href="${p.pageNumber}+1">[[${p.pageNumber}+1]]</a></li>
                                                                <li th:if="${pager.nextPage}"><a class="paging-aft" th:href="${pager.nextPage.pageNumber}+1">다음</a></li>
                                                        </ul>
														<form id="f1" th:action="@{~/pgm/menu}" method="GET">
															<input type="hidden" name="page" th:value=${pager.currentPageNum}>
															<input type="hidden" name="size" th:value=${pager.currentPage.pageSize}>
															<input type="hidden" name="type" th:value=${pageVO.type}>
															<input type="hidden" name="keyword" th:value="${pageVO.keyword}">
														</form>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </section>
	<div th:insert="~{fragments/footer::footer}"></div>
        <script type="text/javascript" src="/ex1.js"></script>
        <script type="text/javascript" src="/comment.js"></script>
        <script type="text/javascript" src="/print.js"></script>
</body>

</html>