<!DOCTYPE html5>
<html xmlns:th="http://www.thymeleaf.org">
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>금빛-프로그램 안내</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/ex1.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
                crossorigin="anonymous">
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
</head>
<body>
        <div th:insert="~{fragments/header::header}"></div>
      	  <section id="page-content">
                <div class="container">
                        <div class="service-banner">
                                <img src="/service_banner/배너3.PNG">
                        </div>
                        <div class="siteMap-tap">
                                <div class="siteMap-title">프로그램</div>&nbsp;
                                <i class="fas fa-caret-right"></i>
                                <div class="siteMap-menu">
                                        <a href="/pgm/about" class="siteMap-menu-active">프로그램 안내</a>
                                        <a href="/pgm/schedule">일정표</a>
                                        <a href="/pgm/menu">식단표</a>
                                </div>
                                <div class="siteMap">
                                        <a href="/"><i class="fas fa-home"></i></a> <i class="fas fa-angle-right"></i>
                                        <a href="/pgm/about">프로그램</a> <i class="fas fa-angle-right"></i>
                                        <a href="/pgm/about">프로그램 안내</a>
                                </div>
                        </div>  
                        
                </div>
                <div class="container">
                        <div id="section1" class="section">
                                <h2 class="section-h2">프로그램 안내</h2>
                                <div class="sub-section">
                                        <div class="section-side-layout">
                                                <div class="sub-title active"><a href="/pgm/about">프로그램 안내</a></div>
                                                <div class="sub-title"><a href="/pgm/schedule">일정표</a></div>
                                                <div class="sub-title"><a href="/pgm/menu">식단표</a></div>
                                        </div>
                                        <div class="section-content-layout">
                                                <div class="content">
                                                	<div class="page-sub">주요 프로그램</div>
                                                	<br>
                                                	<p class="page-p"><span class="page-span">1. 기능훈련</span>
                                                	- 몸통이나 팔다리의 기능 회복을 위해 계획적으로 신체를 움직이는 훈련
                                                	<img src="../프로그램/프로그램안내/기능훈련.jpg">
                                                	
<span class="page-span">2. 레크레이션</span>
- 신체적, 사회적, 정서적, 정신적, 문화적으로 다양한 자극을 주기 위한 프로그램
<img src="../프로그램/프로그램안내/레크레이션.jpg">

<span class="page-span">3. 회상활동</span>
- 과거의 경험과 기억을 다시 재생해봄으로써 인지기능을 자극하여 자존감 향상 및 안정감을 얻기 위한 활동
<img src="../프로그램/프로그램안내/인지회상활동.jpg">

<span class="page-span">4. 음악활동</span>
- 음악을 도구로 하여 인간의 신체적, 사회적, 문화적, 정신적 불균형 상태를 교정하기 위한 일체의 활동
<img src="../프로그램/프로그램안내/음악활동.jpg">

<span class="page-span">5. 미술활동</span>
- 그림, 조각, 건축, 공예, 종이접기 등의 활동을 통해 신체적, 정서적, 정신적 측면 등에서 긍정적 변화를 이끌어내는 과학적이고 체계적인 방법
<img src="../프로그램/프로그램안내/미술활동.jpg">

<span class="page-span">6. 원예활동</span>
- 식물을 매개로 한 다양한 활동의 즐거움을 통해 사회적, 교육적, 심리적, 신체적 적응력을 기르고 이를 통해 신체적, 정신적 회복을 추구하는 활동
<img src="../프로그램/프로그램안내/원예활동.jpg">

<span class="page-span">7. 요리활동</span>
- 음식을 만드는 활동을 통해 정서적 즐거움을 찾는 일련의 활동으로 인지기능 향상에 도움이 되는 활동
<img src="../프로그램/프로그램안내/요리활동.jpg">

<span class="page-span">8. 안위증진 프로그램</span> 
- 발바닥 마사지 및 아로마 활동을 통해 심신의 건강을 증진시키는 활동
<img src="../프로그램/프로그램안내/안위증진.jpg">

<span class="page-span">9. 연중행사</span> 
- 생신잔치 및 야외나들이, 명절등의 특별활동 프로그램을 통해 고독감 해소와 일상생활에 활력을 주는 활동
<img src="../프로그램/프로그램안내/생일잔치.jpg"></p>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </section>
        <div th:insert="~{fragments/footer::footer}"></div>
        <script type="text/javascript" src="/ex1.js"></script>
</body>
</html>