<!DOCTYPE html5>
<html xmlns:th="http://www.thymeleaf.org">

<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>관리자-글쓰기 폼</title>
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
                crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.css" rel="stylesheet">
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
        <script type="text/javascript" src="../ex1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.js"></script>
        <script src="/summernote-ko-KR.js"></script>        	
</head>
<style>
	.container{
		width:790px;
		max-width:none !important;
	}
	p {
		margin-top:0 !important;
		margin-bottom:0 !important;
	}
</style>
<body>
	<br>
        <div class="container" style="background:#eaeaea;">
        <form id="formSubmit"action="/admin/form" method="post">
        	글번호<br>
        	<input type="text" id="bno" name="bno" th:value="${bno}" readonly/>
        	<input type="hidden" id="csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        	<input type="hidden" name="name" th:attr="value=${name}" readonly/>
        	<br>제목
        	<input id="title" name="title" style='width:100%' placeholder="제목을 꼭 입력해주세요."/>
        	<br>
                           내용
                <div id="summernote"></div>
                <textarea id="content" name="content" style="display:none;"></textarea>
                <br>
                <div style="text-align:center">
                <button type="button" onclick="submitFn()"> 작성 </button>
                <button type="button" onclick="self.close()"> 취소 </button>
                </div>
                <div id="render"></div>
        </form>
        </div>
        
        <script type="text/javascript">
        		var submitFn = function(){
        			var title = $('#title').val();
        			if(title == null || title == ""){
        				alert('제목을 입력해주세요.');
        				return false;
        			}
        			var data = $('div[contenteditable]').html();
        			console.log('data:', data);
        			$('#content').val(data);
        			/* $('form').submit(); */
        			$.ajax({
        				url: '/admin/food',
        				type: 'post',
        				data: $('form').serialize(),
        				success: function (res) {
        					alert("게시물이 등록되었습니다.");
        					window.close();
        				},
        				error:function(error){
        					alert('ERROR!',error);
        				}
        			})
        		}
                $('#summernote').summernote({
                        placeholder: '식단표에 대한 게시물을 작성해주세요.',
                        tabsize: 2,
                        height: 500,
                        width:760,
                        lang: 'ko-KR',
 						callbacks : {
							onImageUpload : function(files){
								console.log("callback-inImageUpload:"+files);
								console.log("callback-filesLength:"+files.length);
								for ( var i=0; i<files.length; i++){
									console.log("callback-files[i]:"+files[i]);
									sendFile(files[i]);
								}
							}
						}
                });	
                 
                function sendFile(file){
                	var data = $('#csrf').serialize();
        			console.log('data:', data);
                	var form_data = new FormData();
                    form_data.append('file', file);
                    $.ajax({
                      beforeSend: function(request) {
                	  request.setRequestHeader('X-CSRF-TOKEN', $('#csrf').val());
                	  },
                      data: form_data,
                      type: "POST",
                      url: '/admin/image/food?bno='+$('#bno').val(),
                      cache: false,
                      contentType: false,
                      enctype: 'multipart/form-data',
                      processData: false,
                      success: function(url) {
                        console.log(url);
                        $(".note-editable").append('<img src="'+url+'&path=food">');
                      }
                    });
                } 
        </script>
</body>

</html>
