<!DOCTYPE html5>
<html>

<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>금빛주야</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../ex1.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
                crossorigin="anonymous">
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
</head>
 
<body>
        <div id="header">
                <nav class="nav">
                        <div class="container">
                                <div class="nav-index"><a href="ex1.html">금빛주야보호센터2</a></div>
                                <div class="nav-container">
                                        <!-- <span class="nav-btn"><a id="nav-btn" href="#" onclick="navbtn(event);">button<i class="fas fa-bars"></i></a></span> -->
                                        <span class="nav-btn"><a id="nav-btn" href="#" onclick="mb_btn(event);"><i
                                                                class="fas fa-bars"></i></a></span>
                                        <ul class="item-container">
                                                <li class="nav-item"><a href="#" onclick="move('1')">센터소개</a></li>
                                                <li class="nav-item"><a href="#" onclick="move('2')">입소정보</a></li>
                                                <li class="nav-item"><a href="#" onclick="move('3')">프로그램</a></li>
                                                <li class="nav-item"><a href="#" onclick="move('4')">커뮤니티</a></li>
                                                <li class="nav-item"><a href="login.html">sign <i class="fas fa-sign-in-alt"></i></a></li>
                                                <div class="nav-dropWrap">
                                                        <ul class="nav-dropDown-menu">
                                                                <li id="sub01">
                                                                        <ul>
                                                                                <li><a href="#">인사말</a></li>
                                                                                <li><a href="#">센터소개</a></li>
                                                                                <li><a href="#">조직도</a></li>
                                                                                <li><a href="#">오시는 길</a></li>
                                                                        </ul>
                                                                </li>
                                                                <li id="sub02">
                                                                        <ul>
                                                                                <li><a href="#">입소안내</a></li>
                                                                                <li><a href="#">비용안내</a></li>
                                                                                <li><a href="#">입소신청</a></li>
                                                                                <li><a href="#">대기자명단</a></li>
                                                                        </ul>
                                                                </li>
                                                                <li id="sub03">
                                                                        <ul>
                                                                                <li><a href="#">프로그램안내</a></li>
                                                                                <li><a href="#">일정표</a></li>
                                                                                <li><a href="#">식단표</a></li>
                                                                        </ul>
                                                                </li>
                                                                <li id="sub04">
                                                                        <ul>
                                                                                <li><a href="#">공지사항</a></li>
                                                                                <li><a href="#">월간소식지</a></li>
                                                                                <li><a href="#">포토갤러리</a></li>
                                                                                <li><a href="#">Q & A</a></li>
                                                                        </ul>
                                                                </li>
                                                        </ul>
                                                </div>
                                        </ul>
                                </div>
                        </div>
                        <div class="mb-menu">
                                <div><img width="100%" height="100" alt="로고"></div>
                                <div class="mb-login">
                                        <input type="text" maxlength="12" placeholder="아이디" />
                                        <input type="password" placeholder="비밀번호" />
                                        <!-- <div class="mb-login-rem"><input type="radio">기억하기</div> -->
                                        <div class="mb-login-forget"><a href="#">ID/PW 찾기</a></div>
                                        <button style="background:#3ca3da">로그인</button>
                                        <button onclick="window.location.href='#'">회원가입</button>
                                </div>
                                <div class="mb-menu-dropDown">
                                        <ul>
                                                <li><a href="#">menu1</a>
                                                        <ul>
                                                                <li><a href="#">menu1-1</a></li>
                                                                <li><a href="#">menu1-2</a></li>
                                                                <li><a href="#">menu1-3</a></li>
                                                                <li><a href="#">menu1-4</a></li>
                                                        </ul>
                                                </li>
                                                <li><a href="#">menu2</a>
                                                        <ul>
                                                                <li><a href="#">menu2-1</a></li>
                                                                <li><a href="#">menu2-2</a></li>
                                                                <li><a href="#">menu2-3</a></li>
                                                                <li><a href="#">menu2-4</a></li>
                                                        </ul>
                                                </li>
                                                <li><a href="#">menu3</a>
                                                        <ul>
                                                                <li><a href="#">menu3-1</a></li>
                                                                <li><a href="#">menu3-2</a></li>
                                                                <li><a href="#">menu3-3</a></li>
                                                                <li><a href="#">menu3-4</a></li>
                                                        </ul>
                                                </li>
                                                <li><a href="#">menu4</a>
                                                        <ul>
                                                                <li><a href="#">menu4-1</a></li>
                                                                <li><a href="#">menu4-2</a></li>
                                                                <li><a href="#">menu4-3</a></li>
                                                                <li><a href="#">menu4-4</a></li>
                                                        </ul>
                                                </li>
                                        </ul>
                                </div>
                        </div>
                </nav>
        </div>
        <section id="page-content">
                <div class="container">
                        <div class="service-banner">
                                <img src="../banner/배너3.PNG">
                        </div>
                        <div class="siteMap-tap">
                                <div class="siteMap-title">페이지 글쓰기</div>&nbsp;
                                <i class="fas fa-caret-right"></i>
                                <div class="siteMap-menu">
                                        <a href="#" class="siteMap-menu-active">입소자명단</a>
                                        <a href="#">일정표</a>
                                        <a href="#">식단표</a>
                                        <a href="#">공지사항</a>
                                        <a href="#">소식지</a>
                                        <a href="#">포토갤러리</a>
                                </div>
                        </div>  
                        <div class="siteMap-tap">
                                <div class="siteMap-title">가입 맴버</div>&nbsp;
                                <i class="fas fa-caret-right"></i>
                                <div class="siteMap-menu">
                                        <a href="#">홈페이지 가입명단</a>
                                </div>
                        </div>  
                </div>
                <div class="container">
                        <div id="section1" class="section">
                                <h2>일정표</h2>
                                <div class="sub-section">
                                        <div class="section-side-layout">
                                                <div class="sub-title"><i class="fas fa-check"></i> 월간 일정표</div>
                                        </div>
                                        <div class="section-content-layout"> 
                                                <div class="content">
                                                        <div class="board-view-head">
                                                                <div class="board-view-no">#11</div>
                                                                <div class="board-view-title">제목</div>
                                                                <div class="board-view-date">
                                                                        <i class="far fa-clock" style="padding:3px; font-size:11px; "></i>2018.01.01 15:50 &nbsp;
                                                                        <i class="far fa-eye" style="padding:3px; font-size:11px; "></i>0
                                                                </div>
                                                                
                                                        </div>
                                                        <div class="board-view-body">
                                                                <div class="board-content">
                                                                        글내용입니다.
                                                                        <P>
                                                                                ddddddddddddddddddddddddddddd
                                                                                zz
                                                                        </P>
                                                                        djhfkalsdhfkadf
                                                                        alskdjfl;adfjadfadlfj;aldsfjk
                                                                        alsdkfjal;sdfj
                                                                        <img src="12월소식지.jpg">
                                                                </div>
                                                        </div>
                                                        <hr>
                                                        <div class="board-view-footer">
                                                                <div class="comment-form">
                                                                        <div class="user-id">
                                                                                아이디
                                                                        </div>
                                                                        <div class="user-comment">
                                                                                <textarea class="comment-textarea" placeholder="댓글입력" rows="3" aria-hidden="true"></textarea>
                                                                        </div>
                                                                        <button class="comment-submit">등록</button>
                                                                </div>
                                                                <hr>
                                                                <i class="far fa-comment"> 댓글 2</i>
                                                                <table class="comment-table">
                                                                        <tbody>
                                                                                <tr>
                                                                                        <td width="25%">글쓴이</td>
                                                                                        <td width="45%" class="tas">내용</td>
                                                                                        <td width="20%">2012.01.01</td>
                                                                                        <td width="10%">x</td>
                                                                                </tr>
                                                                                <tr>
                                                                                        <td width="25%">글쓴이</td>
                                                                                        <td width="45%" class="tas">ㅁ나어미ㅏㄴ어ㅣㅁ나어 미ㅏ어미어ㅣㅁ너 임 ㅓㅏㅣㅁ너아ㅣ머ㅏ이ㅓ 마ㅣㄴ어ㅏ민 ㅓㅏㅣㅇ내용가나다라 1234587 ㄴ아ㅣㅓㄹ 니ㅏㅇ러ㅣㅁ나얼 미아러미ㅏ넝ㄹ ㅣㅏ먼ㅇ리ㅏㅓ</td>
                                                                                        <td width="20%">2012.01.01</td>
                                                                                        <td width="10%">x</td>
                                                                                </tr>
                                                                        </tbody>
                                                                </table>
                                                        </div>
                                                        <hr>
                                                        <!-- 테이블 -->
                                                        <table class="board-table">
                                                                <thead>
                                                                        <tr>
                                                                                <th width="10%">번호</th>
                                                                                <th width="40%" class="tas">제목</th>
                                                                                <th width="20%">글쓴이</th>
                                                                                <th width="20%">날짜</th>
                                                                                <th width="10%">조회수</th>
                                                                        </tr>
                                                                </thead>
                                                                <tbody>
                                                                        <tr>
                                                                                <td width="10%">3</td>
                                                                                <td width="40%" class="tas"><a href="#">월간 일정표(18년10월)</a></td>
                                                                                <td width="20%">관리자</td>
                                                                                <td width="20%">2018.01.01</td>
                                                                                <td width="10%">10</td>
                                                                        </tr>
                                                                        <tr>
                                                                                <td width="10%">2</td>
                                                                                <td width="40%" class="tas"><a href="#">월간 일정표(18년09월)</a></td>
                                                                                <td width="20%">관리자</td>
                                                                                <td width="20%">2018.01.01</td>
                                                                                <td width="10%">10</td>
                                                                        </tr>
                                                                        <tr>
                                                                                <td width="10%">1</td>
                                                                                <td width="40%" class="tas"><a href="#">월간 일정표(18년08월)</a></td>
                                                                                <td width="20%">관리자</td>
                                                                                <td width="20%">2018.01.01</td>
                                                                                <td width="10%">10</td>
                                                                        </tr>
                                                                </tbody>
                                                        </table>
                                                        
                                                        <div class="table-footer">
                                                                <i class="fas fa-search border"><input class=search placeholder="제목+내용"></i>
                                                                <button>검색</button>
                                                        </div>
                                                        <div class="pull-right">
                                                                <button>글쓰기</button>
                                                        </div>
                                                        
                                                        <div><button>1</button><button>2</button><button>3</button></div>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </section>
        <div id="footer">
                <div class="container">
                        <div class="footer-cont">
                                <h3>금빛주야보호센터</h3><small> 주야간보호센터/재가요양</small>
                                <p style="margin-top:12">대표 : 김건완 &nbsp;|&nbsp; TEL 010-1234-5678 &nbsp;|&nbsp; FAX
                                        041)123-4567 &nbsp;|&nbsp; 사업자번호 : 123-45-6789</p>
                                <p><i class="fas fa-map-marker-alt" style="font-size:12; color: grey"></i> 충청남도 보령시 청라면
                                        무슨리 123-456번지</p>
                                <br>
                                <div style="text-align: center">© 2017 juyacenter. ALL RIGHTS RESERVED.</div>
                        </div>
                </div>
        </div>
        <script type="text/javascript" src="../ex1.js"></script>
</body>

</html>