<!DOCTYPE html5>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="footer">
		<div id="footer">
			<div class="container">
				<div class="footer-cont">
					<h3>금빛주야보호센터</h3>
					<small> 주야간보호센터/재가요양</small>
					<p style="margin-top: 12">대표 : 김건완 &nbsp;|&nbsp; TEL
						010-1234-5678 &nbsp;|&nbsp; FAX 041)123-4567 &nbsp;|&nbsp; 사업자번호 :
						123-45-6789</p>
					<p>
						<i class="fas fa-map-marker-alt"
							style="font-size: 12; color: grey"></i> 충청남도 보령시 청라면 무슨리
						123-456번지
					</p>
					<br>
					<div style="text-align: center">© 2017 juyacenter. ALL RIGHTS
						RESERVED.</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>