<!DOCTYPE html5>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="footer">
		<div id="footer">
			<div class="container">
				<div class="footer-cont">
					<div>
						<img src="/로고/로고아이콘2.png" class="logo-footer-img">
							<div style="display:inline-block">
								<h3>금빛주야보호센터</h3>
								<small> 주야간보호센터/재가요양</small>
							</div>
							<div class="footer-img float-right">
								<a href="http://www.longtermcare.or.kr/npbs" target="_blank">
									<img src="../국민건강보험공단.png">
								</a>
							</div>
					</div>
					<p style="margin-top: 12"><strong>대표 </strong> 김건완 &nbsp;|&nbsp; <strong>TEL</strong>
						010-1234-5678 &nbsp;|&nbsp; <strong>FAX</strong> 041)123-4567 &nbsp;|&nbsp; <strong>사업자번호 </strong>
						123-45-6789</p>
					<p>
						<i class="fas fa-map-marker-alt"
							style="font-size: 12; color: grey"></i> 충청남도 보령시 청라면 무슨리
						123-456번지
					</p>
					<br>
					<div style="text-align: center;font-weight:600; color:#474d56;">© 2017 금빛보호센터 ALL RIGHTS
						RESERVED.</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>