<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="accordion.css" />
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript" src="accordion.js"></script>
<title>금빛주야간보호센터</title>
</head>
<body>
	<div th:fragment="header">
		<input type="hidden" id="csrf" th:name="${_csrf.parameterName}"
														th:value="${_csrf.token}" />
		<div id="header">
			<nav class="nav">
				<div class="container">
					<div class="nav-index">
						<a href="/">
						<img src="/로고/메인로고.png">
						</a>
					</div>
					<div class="nav-container">
						<!-- <span class="nav-btn"><a id="nav-btn" href="#" onclick="navbtn(event);">button<i class="fas fa-bars"></i></a></span> -->
						<span class="nav-btn"><a id="nav-btn" href="#"
							onclick="mb_btn(event);"><i class="fas fa-bars"></i></a></span>
						<ul class="item-container">
							<li class="nav-item"><a href="/intro/about"
								onclick="move('1')">센터소개</a></li>
							<li class="nav-item"><a href="/info/enter_info" onclick="move('2')">입소정보</a></li>
							<li class="nav-item"><a href="/pgm/about" onclick="move('3')">프로그램</a></li>
							<li class="nav-item"><a href="/comm/notice" onclick="move('4')">커뮤니티</a></li>
							<li class="nav-item"><a href="/login">로그인 <i
									class="fas fa-sign-in-alt"></i></a></li>
							<div class="nav-dropWrap">
								<ul class="nav-dropDown-menu">
									<li id="sub01">
										<ul>
											<li><a href="/intro/about">인사말</a></li>
											<li><a href="/intro/view">시설소개</a></li>
											<li><a href="/intro/org">조직도</a></li>
											<li><a href="/intro/map">오시는 길</a></li>
										</ul>
									</li>
									<li id="sub02">
										<ul>
											<li><a href="/info/enter_info">입소안내</a></li>
											<li><a href="/info/enter_cost">비용안내</a></li>
											<li><a href="/info/enter_req">입소신청</a></li>
											<li><a href="/info/enter_list">입소현황</a></li>
										</ul>
									</li>
									<li id="sub03">
										<ul>
											<li><a href="/pgm/about">프로그램안내</a></li>
											<li><a href="/pgm/schedule">일정표</a></li>
											<li><a href="/pgm/menu">식단표</a></li>
										</ul>
									</li>
									<li id="sub04">
										<ul>
											<li><a href="/comm/notice">공지사항</a></li>
											<li><a href="/comm/news">월간소식지</a></li>
											<li><a href="/comm/photo">포토갤러리</a></li>
										</ul>
									</li>
									<li id="sub05">
										<ul>
											<li sec:authorize="isAnonymous()"><a>비로그인상태</a></li>
											<th:block sec:authorize="isAuthenticated()">
												<li>
												<form action="/logout" method="post">
													<input type="hidden" th:name="${_csrf.parameterName}"
														th:value="${_csrf.token}" />
													<a href="#" onClick="$(this).parent().submit()">로그아웃</a>
												</form>
												</li>
												<li ><a>내 정보</a></li>
												<li th:text="${test}">님</li>
											</th:block>
										</ul>
									</li>
								</ul>
							</div>
						</ul>
					</div>
				</div>
				<div class="mb-menu">
					<div class="mb-logo">
						<img src="/로고/로고모바일2.png" alt="로고" width="230px">
					</div>
					<div class="mb-login">
						<form action="/login" method="post">
							<input type="text" name="username" maxlength="12"
								placeholder="아이디" /> <input type="password" name="password"
								placeholder="비밀번호" /> <input type="hidden"
								th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
							<!-- <div class="mb-login-rem"><input type="checkbox">기억하기</div> -->
							<div class="mb-login-forget">
								<a href="#">ID/PW 찾기</a>
							</div>
							<button type="submit" style="background: #3ca3da">로그인</button>
							<button type="button" onclick="location.href='/signup'">회원가입</button>
						</form>
					</div>
					<div id='cssmenu'>
						<ul>
							<li class="active"><a href='#'><span>Home</span></a></li>
							<li class='has-sub'><a href='#'><span>센터소개</span></a>
								<ul>
									<li><a href='/intro/about'><span>인사말</span></a></li>
									<li><a href='/intro/view'><span>시설소개</span></a></li>
									<li><a href='/intro/org'><span>조직도</span></a></li>
									<li class='last'><a href='/intro/map'><span>오시는 길</span></a></li>
								</ul></li>
							<li class='has-sub'><a href='#'><span>입소정보</span></a>
								<ul>
									<li><a href='/info/enter_info'><span>입소안내</span></a></li>
									<li><a href='/info/enter_cost'><span>비용안내</span></a></li>
									<li><a href='/info/enter_req'><span>입소신청</span></a></li>
									<li class='last'><a href='/info/enter_list'><span>입소현황</span></a></li>
								</ul></li>
							<li class='has-sub'><a href='#'><span>프로그램</span></a>
								<ul>
									<li><a href='/pgm/about'><span>프로그램 안내</span></a></li>
									<li><a href='/pgm/schedule'><span>일정표</span></a></li>
									<li class='last'><a href='/pgm/menu'><span>식단표</span></a></li>
								</ul></li>
							<li class='has-sub'><a href='#'><span>커뮤니티</span></a>
								<ul>
									<li><a href='/comm/notice'><span>공지사항</span></a></li>
									<li><a href='/comm/news'><span>월간소식지</span></a></li>
									<li class='last'><a href='/comm/photo'><span>포토갤러리</span></a></li>
								</ul></li>
							<div style="height:150px; "></div>
						</ul>
					</div>
					<!-- <div class="mb-menu-dropDown">
						<ul>
							<li><a href="#">센터소개</a>
								<ul>
									<li><a href="/intro/about">인사말</a></li>
									<li><a href="/intro/view">시설소개</a></li>
									<li><a href="/intro/org">조직도</a></li>
									<li><a href="/intro/map">오시는 길</a></li>
								</ul></li>
							<li><a href="#">입소정보</a>
								<ul>
									<li><a href="/info/enter_info">입소안내</a></li>
									<li><a href="/info/enter_cost">비용안내</a></li>
									<li><a href="/info/enter_req">입소신청</a></li>
									<li><a href="/info/enter_list">대기자명단</a></li>
								</ul></li>
							<li><a href="#">프로그램</a>
								<ul>
									<li><a href="/pgm/about">프로그램안내</a></li>
									<li><a href="/pgm/schedule">일정표</a></li>
									<li><a href="/pgm/menu">식단표</a></li>
								</ul></li>
							<li><a href="#">커뮤니티</a>
								<ul>
									<li><a href="/comm/notice">공지사항</a></li>
									<li><a href="/comm/news">월간소식지</a></li>
									<li><a href="/comm/photo">포토갤러리</a></li>
								</ul></li>
						</ul>
					</div> -->
					
				</div>
			</nav>
		</div>
	</div>
</body>
</html>