<!DOCTYPE html5>
<html lang="ko" 
		xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="utf-8">
<title>금빛주야간보호센터</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="/로고/로고아이콘.jpg">
<link rel="shortcut icon" href="/로고/로고아이콘.jpg">
<link rel="stylesheet" type="text/css" href="ex1.css" />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
	integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
	crossorigin="anonymous">
<script type="text/javascript"
	src="http://code.jquery.com/jquery-latest.js"></script>
</head>
<body>
	<div class="popup-area"><img src="/main/사이트공지사항.jpg">
		<div style="background:#333;padding:6px;color:#fff;font-size:11px;letter-spacing:-1px;position:relative;">
			<label style="color: white; font-size:12px; cursor:pointer;" :="">
				<input type="checkbox" id="popup-check" name="popup_1week_24h" style="margin: 0px;height:12px;"> 오늘 하루 이 창을 열지 않음</label>
				<a href="javascript:closePopup();" class="popup-close" style="position:absolute; top:8px; right:8px; color:#AFAFAF;">닫기</a>
		</div>
	</div>
	<script type="text/javascript">
		
	</script>
	<th:block th:insert="~{fragments/header::header}"></th:block>
	<div id="page-content">
		<section id="layer-carousel">
			<div class="container">
				<div id="slide">
					<input type="radio" name="pos" id="pos1" checked /> 
					<input type="radio" name="pos" id="pos2" /> 
					<input type="radio"	name="pos" id="pos3" /> 
					<input type="radio" name="pos" id="pos4" />
					<ul>
						<li><img src="main/carousel/carousel-1000-360.gif" /></li>
						<li>slide2</li>
						<li>slide3</li>
						<li>slide4</li>
					</ul>
					<p class="pos">
						<label for="pos1"></label> <label for="pos2"></label> <label
							for="pos3"></label> <label for="pos4"></label>
					</p>
				</div>
			</div>
		</section>
		<section id="often-menu">
			<div class="container">
				<div class="row">
					<div class="often-menu-banner col-4">
						<img src="/main/banner.gif">
					</div>
					<div class="often-menu-col col-8">
						<div class="often-menu-gird col-2 col-mb-4">
							<a href="/intro/about" class="often-menu-btn"><i
								class="fas fa-heartbeat"></i>
								<div class="often-menu-name">센터소개</div></a>
						</div>
						<div class="often-menu-gird col-2 col-mb-4">
							<a href="/info/enter_info" class="often-menu-btn"><i
								class="fas fa-hand-holding-heart"></i>
								<div class="often-menu-name">입소안내</div></a>
						</div>
						<div class="often-menu-gird col-2 col-mb-4">
							<a href="/pgm/menu" class="often-menu-btn"><i class="fas fa-utensils"></i>
								<div class="often-menu-name">식단표</div></a>
						</div>
						<div class="often-menu-gird col-2 col-mb-4">
							<a href="/comm/photo" class="often-menu-btn"><i class="fas fa-image"></i>
								<div class="often-menu-name">포토갤러리</div></a>
						</div>
						<div class="often-menu-gird col-2 col-mb-4">
							<a href="/comm/notice" class="often-menu-btn"><i class="fas fa-flag"></i>
								<div class="often-menu-name">공지사항</div></a>
						</div>
						<div class="often-menu-gird col-2 col-mb-4">
							<a href="/intro/map" class="often-menu-btn"><i
								class="fas fa-map-marked-alt"></i>
								<div class="often-menu-name">오시는 길</div></a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="pView">
			<div class="container">
				<div class="pView-side">
					<div class="row">
						<div class="pView-grid col-4 col-mb-12">
							<h4 class="pView-title">
								<span class="pView-title-head">새 소식</span><small><a
									href="/comm/news" class="more">(more)</a></small>
							</h4>
							<div class="row">
								<div class="pView-news-grid">
									<ul class="pView-news-thumbnail">
										<div th:each="news:${news}">
										<li><a th:href="@{'/comm/news/view?no='+${news.no}}" id="img-container" class="pView-news-href"></a></li>
										</div>
									</ul>
									<ul class="pView-news-word">
										<li>
											<div th:each="news : ${news}" class="pView-news-sub">
												<a th:href="@{'/comm/news/view?no='+${news.no}}">[[${news.title}]]</a>
											</div>
										</li>
										<li id="news-content">
											
										</li>
										<script th:inline="javascript">
											var str = [[${news}]];
											var contentDom = new DOMParser().parseFromString(str[0].content, "text/html");
											$('#news-content')
											.append($("<div>").addClass("pView-news-cont").text(contentDom.firstChild.innerText));														
											if(contentDom.getElementsByTagName("img")[0] == null){
												document.getElementById("img-container").innerHTML='<img src="main/no-image.gif"/>'
											}else{
											document.getElementById("img-container").innerHTML=
												contentDom.getElementsByTagName("img")[0].outerHTML;
											}	
										</script>
									</ul>
								</div>
							</div>
						</div>
						<div class="pView-grid col-4 col-mb-12">
							<h4 class="pView-title">
								<span class="pView-title-head">주간 식단표</span><small><a
									href="pgm/menu" class="more">(more)</a></small>
							</h4>
							<div class="pView-table">
								<table>
									<tr th:each="f : ${food}">
										<td><a th:text="${f.title}" th:href="@{'/pgm/menu/view?no='+${f.no}}" class="pView-a"></a></td>
										<td><span class="date">[[${#dates.format(f.date,'yyyy-MM-dd')}]]</span></td>
										
									</tr>
								</table>
							</div>
						</div>
						<div class="pView-grid col-4 col-mb-12">
							<h4 class="pView-title">
								<span class="pView-title-head">공지사항</span><small><a
									href="/comm/notice" class="more">(more)</a></small>
							</h4>
							<div class="pView-table">
								<table>
									<tr th:each="n : ${notice}">
										<td><a th:text="${n.title}" th:href="@{'/comm/notice/view?no='+${n.no}}" class="pView-a"></a></td>
										<td><span class="date">[[${#dates.format(n.date,'yyyy-MM-dd')}]]</span></td>
										
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="photo-slide">
			<div class="container">
				<h4 class="pView-title">
					<span class="pView-title-head">포토 갤러리</span><small><a
						href="/comm/photo" class="more">(more)</a></small>
				</h4>
				<div class="slide-remote">
					<img id="back" src="main/lefarr.png" alt="" width="45">
					<img id="next" src="main/ritarr.png" alt="" width="45">
				</div>
				<div class="slide">
					<ul class="photo-slide-ul">
						<li class="image_caption_li" th:each="p:${photo}">
								<div class="image_caption">
									<a th:href="@{'/comm/photo/view?no='}+ ${p.no}">
										<div class="image-box">
											<div id="idx"></div> 
										<strong>[[${p.title}]]</strong><span></span>
										</div>
									</a>
								</div>
							<script th:inline="javascript">
                           			var str = [[${p.content}]];
                           			var idx = [[${p.no}]];
                           			$('#idx').attr('id',idx);
                         			var contentDom = new DOMParser().parseFromString(str,"text/html");
                           			if(contentDom.getElementsByTagName("img")[0]==null){
                           				$('#'+idx)[0].innerHTML='<img src="/main/no-image.gif"/>';                           				
                           			}else{
                           				$('#'+idx)[0].innerHTML=
										contentDom.getElementsByTagName("img")[0].outerHTML;    									
                           			}
							</script>
						</li>
					</ul>
					<div class="slide-page"></div>
				</div>
			</div>
		</section>
		</div>
		<div th:insert="~{fragments/footer::footer}"></div>
		<script type="text/javascript" src="photoslide.js"></script>
		<script type="text/javascript" src="ex1.js"></script>
		<script type="text/javascript" src="popup.js"></script>
</body>

</html>