<!DOCTYPE html5>
<html xmlns:th="http://www.thymeleaf.org">

<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>CSS</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/ex1.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
                crossorigin="anonymous">
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
</head>

<body>
        <div th:insert="~{fragments/header::header}"></div>
        <section id="page-content">
                
        </section>
        <div th:insert="~{fragments/footer::footer}"></div>
        <script type="text/javascript" src="/ex1.js"></script>
</body>

</html>