<!DOCTYPE html>
<html>

<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>금빛-회원가입</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="login.css" />
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
                crossorigin="anonymous">
</head>
<body>
        <div class="form-box">
            <div class="head"><a href="/"><img src="로고/메인로고.png" width="70%"/></a></div>
            <hr>
            <form action="signup" method="post" id="login-form">
                <div class="form-group">
                    <label class="label-control">
                        <span class="label-text">아이디</span>
                    </label>
                    <input type="text" id="id" name="id" class="form-control" maxLength="16" 
                    pattern="[A-Za-z0-9]{4,16}" title="아이디는 4~16자 영문또는 영문+숫자를 사용해주세요."/>
                </div>
                <div class="form-label">아이디는 4~16자 영문또는 영문+숫자를 사용해주세요.</div>
                <div class="form-group">
                    <label class="label-control">
                        <span class="label-text">비밀번호</span>
                    </label>
                    <input type="password" id = "pwd1" name="pwd1" class="form-control" maxLength="24"/>
                </div>
                <div class="form-label">비밀번호는 공백없이 4~24글자로 사용해주세요.</div>
                <div class="form-group">
                    <label class="label-control">
                        <span class="label-text">비밀번호 확인</span>
                    </label>
                    <input type="password" id = "pwd2" name="pwd2" class="form-control" maxLength="24"/>
                </div>
                <div class="form-group">
                    <label class="label-control">
                        <span class="label-text">이름</span>
                    </label>
                    <input type="text" id="name" name="name" class="form-control" maxLength="6" 
                    pattern="[가-힣]{2,8}" title="한글이름 2~8자 사이, 공백x 특수문자x  ex)홍길동"/>
                </div>
                <div class="form-group">
                    <label class="label-control">
                        <span class="label-text">생년월일</span>
                    </label>
                    <input type="text" id="birth" name="birth" class="form-control" maxLength="6"
                    pattern="[0-9]{6}" title="주민번호 앞 6자리를 입력해주세요."/>
                </div>
                <div class="form-label">주민번호 앞 6자리를 입력해주세요.</div>
                <div class="form-group">
                    <label class="label-control">
                        <span class="label-text">휴대폰</span>
                    </label>
                    <input type="text" id="phone" name="phone" class="form-control" maxLength="11"
                    pattern="[0-9]{10,11}" title="하이픈(-)없이 숫자만 입력해주세요. ex) 01012345678"/>
                </div>
                <div class="form-label">하이픈(-)없이, 숫자만 입력해주세요. ex)01012345678</div>
                <div class="form-group">
                    <label class="label-control">
                        <span class="label-text">이메일</span>
                    </label>
                    <input type="email" id="email" name="email" class="form-control" />
                </div>
                <div class="form-label">비밀번호를 찾을시 필요한 정보입니다.</div><br><br>
                	<input type="hidden" id="csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <input type="button" onclick="test()" value="회원가입" class="subtn"/>
                    <input type="button" onclick="location.href='/'" value="취소" class="btn" />
            </form>
        </div>
        <script type="text/javascript" src="sign.js"></script>
        <script type="text/javascript" src="login.js"></script>
</body>

</html>