<!DOCTYPE html5>
<html xmlns:th="http://www.thymeleaf.org">

<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>금빛-입소안내</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/ex1.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
                crossorigin="anonymous">
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
</head>

<body>
        <div th:insert="~{fragments/header::header}"></div>
			<section id="page-content">
                <div class="container">
                        <div class="service-banner">
                                <img src="/service_banner/배너2.PNG">
                        </div>
                        <div class="siteMap-tap">
                                <div class="siteMap-title">입소정보</div>&nbsp;
                                <i class="fas fa-caret-right"></i>
                                <div class="siteMap-menu">
                                        <a href="/info/enter_info" class="siteMap-menu-active">입소안내</a>
                                        <a href="/info/enter_cost">비용안내</a>
                                        <!-- <a href="/info/enter_req">입소신청</a> -->
                                        <a href="/info/enter_list">입소현황</a>
                                </div>
                                <div class="siteMap">
                                        <a href="/"><i class="fas fa-home"></i></a> <i class="fas fa-angle-right"></i>
                                        <a href="/info/enter_info">입소정보</a> <i class="fas fa-angle-right"></i>
                                        <a href="/info/enter_info">입소안내</a>
                                </div>
                        </div>  
                        
                </div>
                <div class="container">
                        <div id="section1" class="section">
                                <h2 class="section-h2">입소 안내</h2>
                                <div class="sub-section">
                                        <div class="section-side-layout">
                                                <div class="sub-title active"><a href="/info/enter_info">입소 안내</a></div>
                                                <div class="sub-title"><a href="/info/enter_cost">비용 안내</a></div>
                                                <div class="sub-title"><a href="/info/enter_list">입소 현황</a></div>
                                        </div>
                                        <div class="section-content-layout">
                                        <div class="content">
                                        	<div class="page-sub">주야간보호 서비스란?</div>
                                        	<p class="page-p">어르신을 하루 중 일정한 시간 동안 장기요양기관에 보호하면서 신체활동을 지원하고,
심신기능을 유지하기 위한 교육 훈련 등을 제공하는 서비스.</p><br>											
											<div class="page-sub">이용 대상자</div>
											<p class="page-p">1. 자격기준
											 - 「노인장기요양보험법」제15조에 따른 수급자 (장기요양급여수급자)
											 - 심신이 허약하거나 장애가 있는 65세 이상의 자
											 - 이용자로부터 이용 비용의 전부를 수납하여 운영하는 시설(기존 유료 시설)의 경우 60세 이상의 자
											</p><br>
											<div class="page-sub">이용대상자 선정 기준</div>
											<p class="page-p">1. 신규 입소자 
											 - 장기요양급여수급자 (1~5등급)이거나, 65세 이상의 기초생활수급자 및 부양의무자로부터 적절한 부양을 받지 못하는 자 중 혼자 일상생활을 수행하기 어려워 재가서비스의 제공이 필요한 자.
											2. 기존 이용자 
											 - '08.7.1 이전에 재가노인복지시설을 이용하고 있던 기초수급자, 부양 의의무자부터 적절한 부양을 받지못하는 자 및 실비 이용자.</p><br>
                                        	<div class="page-sub">이용계약 시 구비서류</div>
                                        	<p class="page-p">① 주간보호 이용신청서(센터) 1부
												② 표준장기요양 이용계획서(공단발급) 1부
												③ 장기요양 인정서(공단발급) 1부
												④ 건강진단서 1부(전염성 유무기제 필수 / B형 감염 / 결핵 검사 등)
												⑤ 국민기초생활보장법 수급자 증명서(동사무소 발급) 1부 (해당자) 수급자 주민등록증 사본 1부, 보호자 주민등록증 사본 1부
												⑥ 복지용구 이용시(해당자) – 복지용구 급여확인서(공단발급) 1부</p><br>
											<div class="page-sub">기타 준비물</div>
											<p class="page-p">① 개인용 칫솔, 치약, 손잡이 있는 플라스틱 컵(양치컵), 물티슈1개, 화장지1개
												② 개인용 실내화
												③ 개인용 속옷, 양말</p><br>
											<div class="page-sub">이용 여부</div>
											<p class="page-p">- 정원 50명 현원이 부족 시 입소 또는 대기
												- 상담문의 : 센터 000)000-0000, 실장 000-0000-0000</p><br>
                                        </div>  
                                        </div>
                                </div>
                        </div>
                </div>
        </section>
        <div th:insert="~{fragments/footer::footer}"></div>
        <script type="text/javascript" src="/ex1.js"></script>
</body>

</html>